@page
@model WebApplication1.Pages.Contas.CreateModel
@{
    ViewData["Title"] = "Criar Conta";
}

<h2>Cadastrar conta</h2>

<form method="post">
    <div style="width: 80%">
        <label for="id">Id:</label>
        <input name="Id" class="form-control"/>
        <label for="nome">Nome:</label>
        <input name="Nome" class="form-control" />
        <label for="saldo">Saldo:</label>
        <input name="Saldo" class="form-control" />
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
