@page "{nome} {saldo}"
@model WebApplication2.Pages.Create6Model
@{
    ViewData["Title"] = "Detalhes da conta";
}
 
<h2>@ViewData["Title"]</h2>

<p><strong>@Model.Nome</strong></p>
<p><strong>@Model.Saldo</strong></p>