@page "/index"
@model IndexModel
@{
    ViewData["Title"] = "Minha página";
    string nome = "Wellington";
}

<div class="text-center">
    <h1 class="display-4">Olá, @nome</h1>
        @for (int i = 0; i <= 10; i++){
            <p>@i</p>
                
        }
</div>
